<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UrReview</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1 class="text-center">
        <span role="img" aria-label="camera">🎥</span>
        <a href="/">* Let's see our Library * 🎥</a>
        {{#if logged_in}}
        {{else}}
        <a href="/login"></a>
        {{/if}}
        <button class="no-button" id="logout">logout</button>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
        {{{ body }}}
      
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
    
</html>

