<!-- Loop over each object in the projects array -->
{{#each movies as |movie| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/movie/{{movie.id}}">{{movie.movie_title}}</a>
    </h2>
    <p>
      <img class="moviePoster" src="{{movie.poster}}">
    </p>  
  </div>
</div>
{{/each}}

