<!-- Loop over each object in the projects array -->
<div class="container">
  <div class="row row-cols-4">
    {{#each movies as |movie| }}
    <a href="/movie/{{movie.id}}" ><img src="{{movie.poster}}" class="homepage-movie-img py-3" alt="..."></a>
    {{/each}}
  </div>
</div>