<!-- Loop over each object in the projects array -->
{{#each movies as |movie| }}
<<<<<<< HEAD


<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-4">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/movie/{{movie.id}}"></a>
    </h2>
    {{!-- Start card --}}
    {{!-- <div class="col-md-4 col-sm-4">
        <div class="card thumbnail">
        <img class="moviePoster" src="{{movie.poster}}">
       </div>
      </div> --}}
    {{!-- Card end  --}}
    
    </div>
  </div>
</div>

<div class="card-group mx-auto text-center" style="width: 35rem;">
  <div class="card">
    <img class="card-img-top" src="{{movie.poster}}" alt="Card image cap">
    </div>
  </div>
=======

<img src="{{movie.poster}}" class="img-fluid py-3" alt="...">
>>>>>>> becea05c88e391c18b699407e4aea7fb99df3335

{{/each}}

