{{#if reviews.length}}
  <section class="card">
    <div class="card-header">Your Reviews</div>
    <div class="post-body">
      {{#each reviews}}        
          <li>
            <div>{{movie_title}}</div>
            <div>{{format_date date_created}}</div>
            <div>{{review}}</div>
          </li>        
      {{/each}}
    </div>
  </section>
{{/if}}


{{#if logged_in}}
  <script src=""></script>
{{/if}}