@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&family=Rubik:wght@400;800&display=swap');

:root {
    --main-bg-color: #202122ff;
    --main-nav-color: #595959ff;
    --main-yellow-color:#f1c232;
    --main-yellow-bg-color: #ffd966ff;
  }

body{
  font-family: 'Mukta', sans-serif;
	height:100vh;
	min-height:550px;
    background-color: var(--main-bg-color);
	/* background-repeat: no-repeat;
	background-size:cover;
	background-position:center; 
	position:relative;*/
}
a{
    text-decoration:none;
     color:var(--main-yellow-color); 
}
a:hover{
    color:white;
}
.login-reg-panel{
    position: relative;
	text-align:center;
    width:70%;
	right:0;left:0;
    margin:auto;
    height:400px;
    background-color: var(--main-yellow-color);
    color: var(--main-bg-color);
}
.white-panel{
    background-color: rgba(255,255, 255, 1);
    height:500px;
    position:absolute;
    top:-50px;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
    box-shadow: 0 0 15px 9px #00000096;
}
.login-reg-panel input[type="radio"]{
    position:relative;
    display:none;
}
.login-reg-panel #label-login, 
.login-reg-panel #label-register{
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:150px;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 18px;
}
.login-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    left:0;
    position:absolute;
    text-align:left;
}
.register-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    right:0;
    position:absolute;
    text-align:left;
    
}
.right-log{right:50px !important;}

.login-show, 
.register-show{
    z-index: 1;
    display:none;
    opacity:0;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
}
.show-log-panel{
    display:block;
    opacity:0.9;
}
.login-show input[type="text"], .login-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.login-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.login-show a{
    display:inline-block;
    padding:10px 0;
}

.register-show input[type="text"], .register-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.register-show input[type="button"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.credit {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}
       
.color-primary{
    color: var(--main-yellow-color);
}

.nav-bg-color{
    background-color: var(--main-nav-color);
}

.movie-title-font{
    font-family: 'Rubik';
    font-weight: 800;
}

.movie-desc-font{
    font-family: 'Rubik';
    font-size: 1.2rem;
    color:#d6d6d6;
}

.main-bg-color{
    background-color: var(--main-bg-color);
}

.review-bg-color{
    background-color: var(--main-yellow-bg-color);
}

.review-text-color-primary{
    color: var(--main-bg-color);
}

.review-font-style{
    font-size: 1.5rem;
    font-family:'Mukta';
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

.review-quote-style{
    margin-bottom: 20px;
    color: var(--main-nav-color);
}

.review-border{
    border-radius: 1rem!important;
}

.font-bold {
    font-weight:bold;
}

.no-button {
    background: none;
    border: none;
    text-decoration: none;
    font-size: 100%;
}

.pt-15{
    padding-top: 15%;
}

.movie-card{
    height:50vh;
    position: relative;
}

.movie-img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.bg-movie-img{
    position: absolute;
    height: 90%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    opacity: 0.5;
     -webkit-filter: blur(2px);
    filter: blur(2px); 
}

.homepage-movie-img{
    height: 100%;
    width: 100%;
}

.review-like-button:hover{
    color:red;
    cursor: pointer;
}

.edit-btn{
    cursor: pointer;
}

.delete-btn{
    cursor: pointer;
    color:red;
}

.footer-github-link{
    color:#6c757d;
}